<!-- what we are section -->
<section class="whatWeAre mt-2">
    <div class="container text-center d-flex flex-column align-items-center ">
        <h2>What We're</h2>
        <p class="Cybersecurity">All <span class="Cyfendry">About</span></p>
        <p class="w-50">
            At Cyfendry, we take pride in our ability to train top-notch professionals in IT, Cybersecurity, Security, Risk, and Compliance. Our comprehensive range of resources and expert mentorship prepares students to succeed in an ever-expanding technological industry. Enroll now and become a cybersecurity expert with us.
        </p>
        <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg">
            join now
        </a>
    </div>
</section>
<section class="">
    <div class="container rounded-5">
        <img src="~/Assets/Website/Images/bgfirst.jpg" class="img-fluid" />
    </div>
</section>

<!-- section learn something everyday -->

<section class="learnsomething">
    <div class="container learn rounded-5 mt-3">
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex justify-content-center ">
                <img src="~/Assets/Website/Images/image6.png" class="img-fluid" />
            </div>
            <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-center">
                <h4 class="primaryText">Learn something<br />Everyday</h4>
                <p class="primaryText opacity-75">
                    At Cyfendry, we’re passionate about empowering people to succeed
                    in the exciting and lucrative field of IT and Cybersecurity.
                    Whether you’re an experienced professional looking to expand your
                    skills or a newcomer to the industry seeking a way to dive in with
                    both feet, we’re here to help you achieve your career goals.<br /><br />
                    Our comprehensive range of training programs, coupled with expert
                    mentorship and guidance, will provide you with the knowledge and
                    skills needed to thrive in this fast-growing and rapidly evolving
                    industry. We take pride in our ability to train top-notch
                    professionals in IT, Cybersecurity, Security, Risk, and
                    Compliance, and are committed to helping you succeed every step of
                    the way.<br /><br />
                    Take the first step towards an exciting and rewarding career path
                    with Cyfendry. I invite you to enroll in our programs and see for
                    yourself the difference that our training can make.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- vision section -->
<section class="vision mt-4">
    <div class="container text-center mainbackground rounded-5 d-flex flex-column justify-content-center">
        <div class="row d-flex justify-content-center">
            <!-- <div class="col"></div> -->
            <div class="col-8">
                <p class="Cybersecurity">
                    Our <span class="Cyfendry">Vision</span>
                </p>

                <b class="mt-2 blackText">
                    "Learning is a continuous journey, and it's only by
                    acknowledging<br />
                    what we don't know that we can truly grow and improve."
                </b>
                <p class=" mt-3">
                    This quote speaks to the importance of humility and a growth
                    mindset in the process of learning. At Cyfendry, we believe that
                    learning is an ongoing journey, and that the key to success is to
                    approach it with an open mind and a willingness to acknowledge our
                    limitations and areas for improvement. By doing so, we can
                    continue to expand our knowledge and skills, and achieve our full
                    potential in the dynamic and ever-changing field of IT and
                    Cybersecurity.<br /><br />
                    Our vision is to empower individuals and organizations worldwide
                    to achieve their goals through cutting-edge IT and Cybersecurity
                    training. By providing a comprehensive range of resources and
                    expert mentorship, we aim to create a more secure and connected
                    world, where technology is used to drive innovation, progress, and
                    positive change. At Cyfendry, we’re committed to being a catalyst
                    for growth, excellence, and success in the fast-evolving world of
                    IT and Cybersecurity.
                </p>
            </div>
            <!-- <div class="col"></div> -->
        </div>
    </div>
</section>

<!-- join section -->
<section class="learnWithOther mt-5">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card d-flex justify-content-evenly align-items-center mainbackground rounded-5 aboutcard">
                    <img src="~/Assets/Website/Images/Group.png"
                         class="card-img-top img-fluid cardicon w-auto"
                         alt="..." />
                    <div class=" text-center d-flex flex-column align-items-center rounded-3 border-0">
                        <h4 class="card-title text-center blackText ">
                            Join our fast <br />growing company.
                        </h4>
                        <p class="w-75">
                            Since 2019, Cyfendry has helped thousands transition to
                            IT and Cybersecurity. We’re growing every year,
                            expanding our course catalog and
                            workforce to remain leaders in the industry.
                        </p>
                        <div class="d-flex justify-content-center  align-items-center ">
                            <a href="#" class=" text-dark txtd-none fw-bold">learn more.</a>
                            <a href="/Account/Register"
                               class="btn primary primaryText px-4 rounded-5 shadow-lg ms-3">
                                Apply Now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card justify-content-evenly align-items-center blackbg rounded-5 aboutcard">
                    <img src="~/Assets/Website/Images/Group1.png"
                         class="card-img-top img-fluid cardicon w-auto"
                         alt="..." />
                    <div class=" text-center d-flex flex-column align-items-center rounded-3 border-0">
                        <h4 class="card-title text-center primaryText">
                            Contact Cyfendry <br />  Academy
                        </h4>
                        <p class="w-75 primaryText opacity-75">
                            Ready to enter the IT or Cybersecurity job market? Contact us to learn more about our services and courses. Let us help you take the next step in your career.
                        </p>
                        <div class="d-flex justify-content-center align-items-center  ">
                            <a href="/Account/Register"
                               class="btn primary primaryText px-4 rounded-5 shadow-lg">
                                Apply Now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 Continue">
    <div class="container ready rounded-5 d-flex flex-column align-items-center justify-content-end">
        <h4 class="primaryText">Ready To Learn and Evolve?</h4>
        <div class="d-flex justify-content-center align-items-center mb-5 py-4">
            <a class="primaryText txtd-none">learn more ..</a>
            <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg ms-4">
                Continue An Account!
            </a>
        </div>
    </div>
</section>