<!-- home section -->
<section class="home mb-5 mt-5">
    <div class="container text-center">

        <p class="Cybersecurity">
            <span class="Cyfendry">Blogs</span>
        </p>

    </div>
</section>

<div class="container d-flex justify-content-between blog-sec">
    <div class="card blogs-card" style="width: 18rem;">
        <img class="card-img-top" src="~/Assets/Website/Images/Blog-Pic.png" alt="Card image cap">
        <div class="card-body blog-card-body px-3">
            <div class="d-flex fw-bold justify-content-between align-items-center col-6">
                <div>
                    <i class="bi bi-calendar"></i> 13 Nov
                </div>
                <div>
                    <i class="bi bi-person"></i> Admin
                </div>
            </div>
            <div class="card-title my-2"><h5 class="fw-bold">Lorem Ipsum</h5></div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a>
        </div>
    </div>

    <div class="card blogs-card" style="width: 18rem;">
        <img class="card-img-top" src="~/Assets/Website/Images/Blog-Pic.png" alt="Card image cap">
        <div class="card-body blog-card-body px-3">
            <div class="d-flex fw-bold justify-content-between align-items-center col-6">
                <div>
                    <i class="bi bi-calendar"></i> 13 Nov
                </div>
                <div>
                    <i class="bi bi-person"></i> Admin
                </div>
            </div>
            <div class="card-title my-2"><h5 class="fw-bold">Lorem Ipsum</h5></div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a>
        </div>
    </div>

    <div class="card blogs-card" style="width: 18rem;">
        <img class="card-img-top" src="~/Assets/Website/Images/Blog-Pic.png" alt="Card image cap">
        <div class="card-body blog-card-body px-3">
            <div class="d-flex fw-bold justify-content-between align-items-center col-6">
                <div>
                    <i class="bi bi-calendar"></i> 13 Nov
                </div>
                <div>
                    <i class="bi bi-person"></i> Admin
                </div>
            </div>
            <div class="card-title my-2"><h5 class="fw-bold">Lorem Ipsum</h5></div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a>
        </div>
    </div>


</div>


<div class="container d-flex justify-content-between blog-sec">
    <div class="card blogs-card" style="width: 18rem;">
        <img class="card-img-top" src="~/Assets/Website/Images/Blog-Pic.png" alt="Card image cap">
        <div class="card-body blog-card-body px-3">
            <div class="d-flex fw-bold justify-content-between align-items-center col-6">
                <div>
                    <i class="bi bi-calendar"></i> 13 Nov
                </div>
                <div>
                    <i class="bi bi-person"></i> Admin
                </div>
            </div>
            <div class="card-title my-2"><h5 class="fw-bold">Lorem Ipsum</h5></div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a>
        </div>
    </div>

    <div class="card blogs-card" style="width: 18rem;">
        <img class="card-img-top" src="~/Assets/Website/Images/Blog-Pic.png" alt="Card image cap">
        <div class="card-body blog-card-body px-3">
            <div class="d-flex fw-bold justify-content-between align-items-center col-6">
                <div>
                    <i class="bi bi-calendar"></i> 13 Nov
                </div>
                <div>
                    <i class="bi bi-person"></i> Admin
                </div>
            </div>
            <div class="card-title my-2"><h5 class="fw-bold">Lorem Ipsum</h5></div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a>
        </div>
    </div>

    <div class="card blogs-card" style="width: 18rem;">
        <img class="card-img-top" src="~/Assets/Website/Images/Blog-Pic.png" alt="Card image cap">
        <div class="card-body blog-card-body px-3">
            <div class="d-flex fw-bold justify-content-between align-items-center col-6">
                <div>
                    <i class="bi bi-calendar"></i> 13 Nov
                </div>
                <div>
                    <i class="bi bi-person"></i> Admin
                </div>
            </div>
            <div class="card-title my-2"><h5 class="fw-bold">Lorem Ipsum</h5></div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a>
        </div>
    </div>

</div>



<section class="mt-4 Continue">
    <div class="container-xl ready rounded-5 d-flex flex-column align-items-center justify-content-end">
        <h4 class="primaryText">Ready To Learn and Evolve?</h4>
        <div class="d-flex justify-content-center align-items-center  mb-5 py-4">
            <a class="primaryText txtd-none">learn more.</a>
            <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg ms-4">
                Continue An Account!
            </a>
        </div>
    </div>
</section>