<!-- home section -->
<section class="home mb-5 pt-5">
    <div class="container text-center">
        <h2>The cyber skills</h2>
        <p class="Cybersecurity">
            You Will <span class="Cyfendry">Learn</span>
        </p>
        <strong>
            <p class="m-0">Click on each course below</p>
        </strong>
        <p>
            for more information about the curriculum and the individual skills
            you will learn
        </p>
        <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg">
            Enroll now
        </a>
    </div>
</section>

<section class="ourbootcame mt-3">
    <div class="container-xl d-flex flex-column justify-content-center blackbg rounded-5 rounded-0 ">
        <div class="title text-center ">
            <h4 class="primaryText">Online Learning. Done Right.</h4>
            <p class="primaryText pt-1  opacity-50">
                We use cutting-edge educational methodologies to get you work ready <br /> in the shortest amount of time.
            </p>
        </div>
        <div class="row ps-5">
            <div class="swiper-container slide-content position-relative rounded-0">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide ">
                        <a href="/Home/ITAudit" class="rounded-4  overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/Audit.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">IT Audit</div>
                    </div>
                    <div class="swiper-slide ">
                        <a href="/Home/ITGRC" class="rounded-4 overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/rrc.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">IT GRC</div>
                    </div>
                    <div class="swiper-slide">
                        <a href="/Home/ITPMT" class="rounded-4 overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/product.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">IT PMT</div>
                    </div>
                    <div class="swiper-slide">
                        <a href="/Home/Cloud" class="rounded-4  overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/cloud.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">Cloud</div>

                    </div>
                </div>
                <!-- Add Pagination -->
                <!-- <div class="swiper-pagination"></div> -->
                <!-- Add Navigation -->

                <div class="swiper-button-next rounded-circle  ">
                    <i class="bi bi-chevron-right fs-2 "></i>
                </div>

                <div class="swiper-button-prev"></div>
            </div>
            <!-- <div class="mt-5 pt-5"></div> -->
        </div>
</section>

<!-- hours of instructer  -->
<section class="learnWithOther mt-5">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card Instructor align-items-center mainbackground rounded-5">
                    <div class="card-body text-center rounded-3 border-0 flex-column d-flex justify-content-center align-items-center">
                        <h1 class="card-title text-center w-75 blackText py-3">
                            Hours Of Instructor- Led, Live Classes
                        </h1>
                        <p class="pt-3">
                            You’ll be in the virtual classroom interacting with, and<br />
                            learning from, real industry professionals for several
                            hours.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card Instructor align-items-center jus blackbg rounded-5">
                    <div class="card-body text-center  rounded-5 border-0 flex-column d-flex justify-content-center align-items-center">
                        <h1 class="card-title text-center py-3 w-75 primaryText">
                            Team-Based Learning.
                            Problem-Based Learning
                        </h1>
                        <p class="primaryText pt-3">
                            We use team-based learning and problem-based learning
                            to get you workplace ready. You’ll be learning how to
                            solve
                            real workplace problems as part of a functional team of
                            learners. Classes are hands-on and interactive with real
                            knowledge application.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- our instructor are industry level -->
<section class="mt-5">
    <div class="container p-3 d-flex flex-column justify-content-evenly topics rounded-5">
        <h4 class="primaryText text-center">
            Our instructors are <br />industry experts
        </h4>
        <div class="row justify-content-center">
            <div class="row mb-3">
                <div class="col d-md-flex d-none align-items-center justify-content-between  alumi-btns-con">
                    <button class="btn  rounded-circle">
                        <i class="bi bi-chevron-left fs-5"></i>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="btn  rounded-circle">
                        <i class="bi bi-chevron-right fs-5"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="row">

                <div class="col-md-3  col-sm-12 rounded-5 ">
                    <div class="p-0 instructer-img-con rounded-5 overflow-hidden px-1">
                        <img src="~/Assets/Website/Images/instructurs/GRC Training.jpeg"
                             class="img-fluid fleximg " />
                        <div class="instructer-name fs-5 px-3  py-2"> Denia B. </div>
                    </div>
                </div>
                <div class="col-md-3  col-sm-12 rounded-5 ">
                    <div class="p-0 instructer-img-con rounded-5 overflow-hidden px-1">
                        <img src="~/Assets/Website/Images/instructurs/pmt.jpeg"
                             class="img-fluid fleximg" />

                        <div class="instructer-name fs-5 px-3  py-2"> Denia B. </div>
                    </div>
                </div>
                <div class="col-md-3  col-sm-12 rounded-5 ">
                    <div class="p-0 instructer-img-con rounded-5 overflow-hidden px-1">
                        <img src="~/Assets/Website/Images/instructurs/cloud.jpeg"
                             class="img-fluid fleximg " />
                        <div class="instructer-name fs-5 px-3  py-2 ">

                            Chiedozi  O.
                        </div>
                    </div>
                </div>
                <div class="col-md-3  col-sm-12 rounded-5 ">
                    <div class="p-0 instructer-img-con rounded-5 overflow-hidden px-1">
                        <img src="~/Assets/Website/Images/instructurs/Mentor.jpeg"
                             class="img-fluid fleximg " />
                        <div class="instructer-name fs-5 px-3  py-2"> Nana Y. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ready section  -->
<section class="mt-4 Continue">
    <div class="container-xl ready rounded-5 d-flex flex-column align-items-center justify-content-end">
        <h4 class="primaryText">Ready To Learn and Evolve?</h4>
        <div class="d-flex justify-content-center align-items-center  mb-5 py-4">
            <a class="primaryText txtd-none">learn more.</a>
            <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg ms-4">
                Continue An Account!
            </a>
        </div>
    </div>
</section>