<!-- home section -->
<section class="home mb-5 mt-5">
    <div class="container text-center">

        <p class="Cybersecurity">
            <span class="Cyfendry">Events</span>
        </p>

    </div>
</section>

<section>
    <div class="container d-flex justify-content-around">

        <div class="card blogs-card blog-card-body events" style="width: 18rem;">
            <button class="events-btn">November 2023</button>
            <img class="card-img-top" src="~/Assets/Website/Images/events.png" alt="Card image cap">
            <div class="card-body">
                <h5 style="text-align: center;">IT – Audit – Free Interview Webinar</h5>
                <p style="text-align: center;">On this second Monday of September, we look forward to ...</p>
                <p style="text-align: center;"><i class="bi bi-calendar"></i>13 Nov <i class="bi bi-clock"></i> 06:00 - 07:00 <i class="bi bi-geo-alt"></i></p>
                <p style="text-align: center;"><a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a></p>
            </div>
        </div>
        <div class="card blogs-card blog-card-body events" style="width: 18rem;">
            <button class="events-btn">November 2023</button>
            <img class="card-img-top" src="~/Assets/Website/Images/events.png" alt="Card image cap">
            <div class="card-body">
                <h5 style="text-align: center;">IT – Audit – Free Interview Webinar</h5>
                <p style="text-align: center;">On this second Monday of September, we look forward to ...</p>
                <p style="text-align: center;"><i class="bi bi-calendar"></i>13 Nov <i class="bi bi-clock"></i> 06:00 - 07:00 <i class="bi bi-geo-alt"></i></p>
                <p style="text-align: center;"><a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a></p>
            </div>
        </div>
        <div class="card blogs-card blog-card-body events" style="width: 18rem;">
            <button class="events-btn">November 2023</button>
            <img class="card-img-top" src="~/Assets/Website/Images/events.png" alt="Card image cap">
            <div class="card-body">
                <h5 style="text-align: center;">IT – Audit – Free Interview Webinar</h5>
                <p style="text-align: center;">On this second Monday of September, we look forward to ...</p>
                <p style="text-align: center;"><i class="bi bi-calendar"></i>13 Nov <i class="bi bi-clock"></i> 06:00 - 07:00 <i class="bi bi-geo-alt"></i></p>
                <p style="text-align: center;"><a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a></p>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-around blog-sec">

        <div class="card blogs-card blog-card-body events" style="width: 18rem;">
            <button class="events-btn">November 2023</button>
            <img class="card-img-top" src="~/Assets/Website/Images/events.png" alt="Card image cap">
            <div class="card-body">
                <h5 style="text-align: center;">IT – Audit – Free Interview Webinar</h5>
                <p style="text-align: center;">On this second Monday of September, we look forward to ...</p>
                <p style="text-align: center;"><i class="bi bi-calendar"></i>13 Nov <i class="bi bi-clock"></i> 06:00 - 07:00 <i class="bi bi-geo-alt"></i></p>
                <p style="text-align: center;"><a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a></p>
            </div>
        </div>
        <div class="card blogs-card blog-card-body events" style="width: 18rem;">
            <button class="events-btn">November 2023</button>
            <img class="card-img-top" src="~/Assets/Website/Images/events.png" alt="Card image cap">
            <div class="card-body">
                <h5 style="text-align: center;">IT – Audit – Free Interview Webinar</h5>
                <p style="text-align: center;">On this second Monday of September, we look forward to ...</p>
                <p style="text-align: center;"><i class="bi bi-calendar"></i>13 Nov <i class="bi bi-clock"></i> 06:00 - 07:00 <i class="bi bi-geo-alt"></i></p>
                <p style="text-align: center;"><a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a></p>
            </div>
        </div>
        <div class="card blogs-card blog-card-body events" style="width: 18rem;">
            <button class="events-btn">November 2023</button>
            <img class="card-img-top" src="~/Assets/Website/Images/events.png" alt="Card image cap">
            <div class="card-body">
                <h5 style="text-align: center;">IT – Audit – Free Interview Webinar</h5>
                <p style="text-align: center;">On this second Monday of September, we look forward to ...</p>
                <p style="text-align: center;"><i class="bi bi-calendar"></i>13 Nov <i class="bi bi-clock"></i> 06:00 - 07:00 <i class="bi bi-geo-alt"></i></p>
                <p style="text-align: center;"><a href="#" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">Read more</a></p>
            </div>
        </div>
    </div>
</section>

<section class="mt-4 Continue">
    <div class="container-xl ready rounded-5 d-flex flex-column align-items-center justify-content-end">
        <h4 class="primaryText">Ready To Learn and Evolve?</h4>
        <div class="d-flex justify-content-center align-items-center  mb-5 py-4">
            <a class="primaryText txtd-none">learn more.</a>
            <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg ms-4">
                Continue An Account!
            </a>
        </div>
    </div>
</section>