<!-- home section -->
<section class="home mb-5 mt-5">
    <div class="container-xl text-center">
        <h2 class="Unlock">Unlock Your Future in</h2>
        <p class="Cybersecurity">
            Cybersecurity with <span class="Cyfendry">Cyfendry</span>
        </p>
        <p>
            Dive deep into an evolving curriculum, gain real-world experience,
            and<br />
            spearhead your career from the comfort of your home.
        </p>
        <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">
            Enroll now
        </a>
    </div>
</section>

<!-- video section -->
<section class="mt-3">
    <div class="container-xl position-relative p-0  text-center overflow-hidden rounded-5 d-flex flex-column justify-content-center">
        <div class="row position-absolute overflow-hidden d-flex flex-column justify-content-evenly align-items-center h-100 w-100">
            <!-- <div class="pt-2"> -->
            <strong>
                <p class="primaryText mt-5">Welcome To Cyfendry</p>
            </strong>

            <h1 class="primaryText">
                Committed to helping you become a <br />successful cyber security
                professional.
            </h1>
            <img src="~/Assets/Website/Images/play-icon.svg" class="play-icon mt-0" id="playic">
            <!-- </div> -->

            <div class="pb-5 mb-0">

                <p class="primaryText opacity-75">
                    At Cyfendry, we are committed to helping you become a successful
                    cyber security professional, entirely online. Our<br />
                    meticulously crafted curriculum is continuously updated to ensure
                    you receive the latest knowledge and skills needed for the<br />
                    field. With a learn-by-doing approach, our project-based
                    assignments will equip you with practical experience, enabling you
                    to<br />
                    secure a high-paying job. Join us now to start your journey
                    towards a fulfilling and rewarding career in cyber security!
                </p>
            </div>
        </div>
        <video class="video w-100" id="video" src="~/Assets/Website/Images/pexels-diva-plavalaguna-6985525 (2160p).mp4"></video>
    </div>
</section>

<section class="ourbootcame mt-3">
    <div class="container-xl d-flex flex-column justify-content-center blackbg rounded-5 rounded-0 ">
        <div class="title text-center mb-3">
            <h4 class="primaryText">Our Bootcamps</h4>
            <p class="primaryText pt-1 opacity-75">
                Discover our top-tier bootcamps tailored for<br />
                aspiring tech professionals:
            </p>
        </div>
        <div class="row ps-5">
            <div class="swiper-container slide-content position-relative rounded-0">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide ">
                        <a href="/Home/ITAudits" class="rounded-4  overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/Audit.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">IT Audit</div>
                    </div>
                    <div class="swiper-slide ">
                        <a href="/Home/ITGRC" class="rounded-4 overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/rrc.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">IT GRC</div>
                    </div>
                    <div class="swiper-slide">
                        <a href="/Home/ITPMT" class="rounded-4 overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/product.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">IT PMT</div>
                    </div>
                    <div class="swiper-slide">
                        <a href="/Home/Cloud" class="rounded-4  overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/cloud.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">Cloud</div>

                    </div>
                </div>
                <!-- Add Pagination -->
                <!-- <div class="swiper-pagination"></div> -->
                <!-- Add Navigation -->

                <div class="swiper-button-next rounded-circle  ">
                    <i class="bi bi-chevron-right fs-2 "></i>
                </div>

                <div class="swiper-button-prev"></div>
            </div>
            <!-- <div class="mt-5 pt-5"></div> -->
        </div>
</section>

<!-- heare from our alumni section -->
<section class="hearFrom mt-3">
    <div class="container-xl rounded-5 mainbackground">
        <div class="row pt-5 pb-3 px-3 ">
            <div class=" col d-flex align-items-center">
                <strong>
                    <h4 class="mb-0 alumi-h">Hear from our alumni:</h4>
                </strong>
            </div>
            <div class="col-md-2 d-md-flex d-none align-items-center justify-content-evenly alumi-btns-con">
                <button class="btn  rounded-circle">
                    <i class="bi bi-chevron-left fs-5"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="btn  rounded-circle">
                    <i class="bi bi-chevron-right fs-5"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <div class="card bg-transparent border-0">
                    <img src="~/Assets/Website/Images/review.png" class="reviewimg m-3" alt="..." />
                    <div class="card-body">
                        <p class="card-text">
                            Thanks to Cyfendry, I transitioned seamlessly into the
                            cybersecurity domain. Their hands-on approach is unmatched.
                        </p>
                        <div class="d-flex mt-5">
                            <img src="~/Assets/Website/Images/Ellipse.png" class="cardimg me-3" />
                            <div class="">
                                <p class="m-0"><strong>Linda</strong></p>
                                <p>Cybersecurity Expert</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-transparent border-0">
                    <img src="~/Assets/Website/Images/review.png" class="reviewimg m-3" alt="..." />
                    <div class="card-body">
                        <p class="card-text">
                            Thanks to Cyfendry, I transitioned seamlessly into the
                            cybersecurity domain. Their hands-on approach is unmatched.
                        </p>
                        <div class="d-flex mt-5">
                            <img src="~/Assets/Website/Images/Ellipse.png" class="cardimg me-3" />
                            <div class="">
                                <p class="m-0"><strong>Linda</strong></p>
                                <p>Cybersecurity Expert</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-transparent border-0">
                    <img src="~/Assets/Website/Images/review.png" class="reviewimg m-3" alt="..." />
                    <div class="card-body">
                        <p class="card-text">
                            Thanks to Cyfendry, I transitioned seamlessly into the
                            cybersecurity domain. Their hands-on approach is unmatched.
                        </p>
                        <div class="d-flex mt-5">
                            <img src="~/Assets/Website/Images/Ellipse.png" class="cardimg me-3" />
                            <div class="">
                                <p class="m-0"><strong>Linda</strong></p>
                                <p>Cybersecurity Expert</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- A curriculum design -->
<section class="curriculumDesign mt-3">
    <div class="curriculum container-xl rounded-5 d-flex justify-content-center flex-column position-relative justify-content-center align-items-center overflow-hidden p-0">
        <div class="text-center position-absolute pt-5">
            <h2 class="primaryText">A Curriculum Designed</h2>
            <h1 class="primaryText toget">
                To Get You <sapn class="hired">Hired</sapn>.
            </h1>
            <p class="primaryText py-3">
                We simulate the cyber security workplace so you can learn
                <br />the hands-on skills employers need.
            </p>
            <div class="d-flex justify-content-center align-items-center my-md-0 my-3">
                <a class="primaryText ">learn more.</a>
                <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 py-2 shadow-lg ms-4">
                    Apply Now!
                </a>
            </div>
        </div>
        <video src="~/Assets/Website/Images/video (2160p) (1).mp4" autoplay class=" w-100"></video>
    </div>
</section>

<!-- from design to registration section  -->
<section class="registration mt-4">
    <div class="container-xl rounded-5 mainbackground">
        <div class="row p-5 ">
            <div class="col-ms-12 col-md-6 d-flex flex-column justify-content-center">
                <h4 class="fw-xbolder">
                    From Registration <br />to Success:<br />
                    Your Career<br />
                    Journey Simplified
                </h4>
                <p class="mt-3">
                    Embark on a streamlined path with us, from sign-up to landing
                    your<br />
                    dream job. Get comprehensive support at every step.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 stepcolumn">
                <div class="step w-100 d-flex  justify-content-center align-items-center">
                    <div class="h-100">
                        <div class="circle"></div>
                    </div>
                    <div class="w-100">
                        <div class="title">Registration:</div>
                        <div class="caption">Start with Cyfendry</div>
                    </div>
                </div>
                <div class="step  w-100 d-flex  justify-content-center align-items-center">
                    <div class="h-100">
                        <div class="circle"></div>
                    </div>
                    <div class="h-100 w-100">
                        <div class="title">Training:</div>
                        <div class="caption">Gain industry-aligned skills.</div>
                    </div>
                </div>
                <div class="step  w-100 d-flex  justify-content-center align-items-center">
                    <div class="h-100">
                        <div class="circle"></div>
                    </div>
                    <div class="h-100 w-100">
                        <div class="title">Hands-on Labs</div>
                        <div class="caption">Experience practical learning.</div>
                    </div>
                </div>
                <div class="step  w-100 d-flex  justify-content-center align-items-center">
                    <div class="h-100">
                        <div class="circle"></div>
                    </div>
                    <div class="h-100 w-100">
                        <div class="title">Assignments:</div>
                        <div class="caption">Solve real-life challenges.</div>
                    </div>
                </div>
                <div class="step  w-100 d-flex  justify-content-center align-items-center">
                    <div class="h-100">
                        <div class="circle"></div>
                    </div>
                    <div class="h-100 w-100">
                        <div class="title">Capstone:</div>
                        <div class="caption">Display your expertise.</div>
                    </div>
                </div>
                <div class="step  w-100 d-flex  justify-content-center align-items-center">
                    <div class="h-100">
                        <div class="circle"></div>
                    </div>
                    <div class="h-100 w-100">
                        <div class="title">Profile Optimization:</div>
                        <div class="caption">Polish your resume & LinkedIn.</div>
                    </div>
                </div>
                <div class="step w-100 d-flex  justify-content-center align-items-center">
                    <div class="h-100">
                        <div class="circle"></div>
                    </div>
                    <div class="h-100 w-100">
                        <div class="title">Interview Prep::</div>
                        <div class="caption">Get ready to impress.</div>
                    </div>
                </div>
                <div class="step w-100 d-flex  justify-content-center align-items-center">
                    <div class="h-100">
                        <div class="circle"></div>
                    </div>
                    <div class="h-100 w-100">
                        <div class="title">Land a Role:</div>
                        <div class="caption">Achieve your career dream.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container-xl text-center">
        <strong>
            <p style="font-size: 20px">
                Learn to navigate the hiring process and talk
            </p>
        </strong>
        <h4>
            About your projects with confidence<br />
            in preparation for your dream job.
        </h4>
    </div>
</section>

<!-- learn with others section -->
<section class="learnWithOther mt-5">
    <div class="container-xl mt-4">
        <div class="row">
            <div class="col-md-6 my-md-0 my-2">
                <div class="card homecard align-items-center mainbackground rounded-5">
                    <img src="~/Assets/Website/Images/Group 1000000950 (1).png" class="card-img-top img-fluid mt-5 cardlogo" alt="..."
                         style="width: 200px" />
                    <div class="card-body d-flex flex-column align-items-center text-center justify-content-center rounded-3 border-0">
                        <h4 class="card-title text-center w-75  blackText">
                            Learn With Others
                        </h4>
                        <p class="primaryText text-dark opacity-75">
                            Share and collaborate with a growing<br />
                            community of students and mentors.
                        </p>
                        <div class="d-flex justify-content-center align-items-center mt-5">
                            <a href="#" class="txtd-none text-dark">learn more...</a>
                            <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg ms-3">
                                Apply Now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-md-0 my-2">
                <div class="card homecard align-items-center blackbg rounded-5">
                    <img src="~/Assets/Website/Images/Group 1000000972 (1).png" class="card-img-top img-fluid mt-5 cardlogo" alt="..." />
                    <div class="card-body d-flex flex-column align-items-center text-center rounded-3 border-0">
                        <h4 class="card-title text-center primaryText w-75">
                            Learn Through Practice
                        </h4>
                        <p class="primaryText opacity-75">
                            Gain hands-on experience through<br />
                            projects on real-world concepts.
                        </p>
                        <div class="d-flex justify-content-center align-items-center mt-5">
                            <a href="#" class="txtd-none text-light">learn more...</a>
                            <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg ms-3">
                                Apply Now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- laern with mentors section -->
<section class="laernWithMentor mt-5">
    <div class="container-xl overflow-hidden p-0 text-md-center text-start blackbg rounded-5">
        <div class="mentorimage d-flex justify-content-center align-items-end p-3">
            <!-- <img src="./Assets/image6.png" class="mentors img-fluid" /> -->

            <div class="mentortext ">
                <h4 class="primaryText">Learn With Mentors</h4>
                <p class="primaryText opacity-75">
                    Receive one-on-one weekly guidance<br />
                    from qualified mentors.
                </p>
                <div class="d-flex  justify-content-md-center justify-content-start align-items-center ">
                    <a class="primaryText txtd-none me-3 ">learn more.</a>
                    <a href="/Account/Register" class="btn  primary primaryText px-4 rounded-5 shadow-lg  mt-md-0 mt-2">
                        Apply Now!
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- secureIncome section  -->
<section class="secureincome my-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    Secure Your Income,<br />
                    Progress Your Career
                </h4>
            </div>
            <div class="col-md-6">
                <p>
                    The global demand for cyber security professionals has never
                    been greater, with a significant shortage of skilled workers
                    leaving organizations vulnerable to attacks. Seize this
                    opportunity to re-skill and fill the gap in the industry. By
                    pursuing a career in cyber security, you can help protect
                    businesses and individuals from the growing threat of cyber
                    attacks while also building a rewarding and lucrative career for
                    yourself.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 my-2 my-md-0">
                <div class="card blackbg border-0 rounded-4 maincardb">
                    <img src="~/Assets/Website/Images/Maskgroup (2).png" class="mask m-3" alt="..." />
                    <div class="card-body">
                        <strong>
                            <p class="primaryText">
                                Quick Career <br />progression
                            </p>
                        </strong>
                        <img src="~/Assets/Website/Images/Line 1.png" class="img-fluid maincardline" />
                        <p class="main-text primaryText m-0 pb-2">
                            Cybersecurity needs skilled professionals in policy, risk
                            management, culture & awareness, and other non-technical
                            roles. Expand your career opportunities and make a
                            difference by exploring these critical areas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-2 my-md-0">
                <div class="card border-0 rounded-4 maincard">
                    <img src="~/Assets/Website/Images/Maskgroup.png" class="mask m-3" alt="..." />
                    <div class="card-body">
                        <strong>
                            <p>Great Salary & <br />Flexible Schedule</p>
                        </strong>
                        <img src="~/Assets/Website/Images/Line 1.png" class="img-fluid" />
                        <p class="main-text m-0">
                            Join the fight against cyber threats and make a difference
                            with a variety of roles in cybersecurity. From policy and
                            risk management to culture & awareness, explore diverse
                            career opportunities and help protect against evolving
                            security challenges.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-2 my-md-0">
                <div class="card border-0 rounded-4 maincard">
                    <img src="~/Assets/Website/Images/Maskgroup (1).png" class="mask m-3" alt="..." />
                    <div class="card-body">
                        <strong>
                            <p>
                                Make a difference <br />with variety of roles
                            </p>
                        </strong>
                        <img src="~/Assets/Website/Images/Line 1.png" class="img-fluid" />
                        <p class="main-text m-0">
                            Discover exciting career opportunities at some of the
                            world's top employers and unlock rapid career growth,
                            competitive pay, schedule flexibility, and a range of other
                            benefits. Achieve your professional goals and take your
                            career to the next level.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-2 my-md-0">
                <div class="card border-0 rounded-4 maincard">
                    <img src="~/Assets/Website/Images/Maskgroup (3).png" class="mask m-3" alt="..." />
                    <div class="card-body">
                        <strong>
                            <p>
                                Future proof<br />
                                your career
                            </p>
                        </strong>
                        <img src="~/Assets/Website/Images/Line 1.png" class="img-fluid" />
                        <p class="main-text m-0 pb-2">
                            Future-proof your career in cybersecurity by staying
                            up-to-date with the latest trends and technologies,
                            continuously improving your skills, and pursuing advanced
                            certifications to remain competitive in this ever-evolving
                            field.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-4 Comapnies">
    <div class="container-xl TopComapnies rounded-5">
        <div class="row d-flex align-items-center h-100 ms-md-5">
            <!-- <div class="pt-lg-5"></div> -->
            <div class="col-8 d-flex flex-column justify-content-center ps-lg-5">
                <!-- <div class="pt-5"></div> -->
                <h4>Proud Alumni of <br />Top Companies</h4>
                <p class="py-md-3">
                    Our graduates are making an impact across various industries
                </p>
                <img src="~/Assets/Website/Images/Line 2.png" class="img-fluid mb-4 secureIncome-bg-img" />
                <div class="d-flex">
                    <img src="~/Assets/Website/Images/Group 1000000964.png" class="img-fluid Groupimg mx-2" />
                    <img src="~/Assets/Website/Images/image 8.png" class="img-fluid Groupimg mx-2" />
                    <img src="~/Assets/Website/Images/image 13.png" class="img-fluid Groupimg mx-2" />
                    <img src="~/Assets/Website/Images/image 12.png" class="img-fluid Groupimg mx-2" />
                </div>
            </div>
            <!-- <div class="col"></div> -->
        </div>
    </div>
</section>

<section class="mt-4 Continue">
    <div class="container-xl ready rounded-5 d-flex flex-column align-items-center justify-content-end">
        <h4 class="primaryText">Ready To Learn and Evolve?</h4>
        <div class="d-flex justify-content-center align-items-center  mb-5 py-4">
            <a class="primaryText txtd-none">learn more.</a>
            <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg ms-4">
                Continue An Account!
            </a>
        </div>
    </div>
</section>