<!-- home section -->
<section class="home mb-5 mt-5">
    <div class="container text-center">

        <p class="Cybersecurity">
            IT Adult  <span class="Cyfendry">Training</span>
        </p>
        <p>
            <h5 class="fw-bold">Get Started<h5>
        </p>

        <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg mb-3 hero-btn">
            Enroll now
        </a>
    </div>
</section>

<section class="learnWithOther mt-5">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card overflow-hidden align-items-center  rounded-5 p-0 ">
                    <img src="~/Assets/Website/Images/inner/Audit.png" alt="image" class="img-fluid h-100 w-100">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mainbackground  d-flex flex-column justify-content-center rounded-4 px-5">
                <p class="fw-bold mb-0">
                    <i class="bi bi-clock-history me-3"></i> Part-Time | 7 Weeks | 3 hours/week <br />
                    <i class="bi bi-person-check me-3"></i> Online Attendance <br />
                    <i class="bi bi-emoji-smile me-3"></i> Beginner Friendly! <br />
                    <i class="bi bi-calendar3 me-3"></i> Class Schedule: Every Saturday: 9:00 AM CST – 12:00 PM CST
                </p>

                <div class="d-flex col-6 justify-content-between py-3">
                    <div class="d-flex flex-column justify-content-between">
                        <p class="m-0 blackText">Current Status</p>
                        <a href="/Account/Register" class="btn px-4 rounded-5  " style="background: #732579;color: #fff;">
                            Enroll now
                        </a>
                    </div>
                    <div class="d-flex flex-column justify-content-between ps-3 pb-0" style="border-left: 2px solid #000;">
                        <p class="m-0 blackText">Price</p>
                        <h1 class="blackText mb-0">$3300</h1>
                    </div>
                </div>
                <hr class="custom-hr">
                <p class="blackText opacity-75 my-3">
                    Dive into the comprehensive course from Cyfendry Consulting, crafted to guide you on your journey to becoming a proficient Information Technology (IT) Auditor. Delve into the intricacies of auditing, controlling, monitoring, and evaluating both IT and business systems. IT Auditing plays a pivotal role in providing an impartial review of internal controls, ensuring the integrity, reliability, adequacy, and security of data and information systems
                </p>

            </div>
        </div>
    </div>
</section>

<section class="learnWithOther mt-5">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card Instructor  mainbackground rounded-5">
                    <div class="card-body rounded-3 border-0 flex-column d-flex px-5">

                        <h1 class="card-title  blackText py-4">
                            Potential Job Roles After Completing the Course:
                        </h1>
                        <ul class="ms-0 ps-1 d-flex flex-column fs-5 " style=" list-style-image: url('/Assets/Website/Images/bullet.png'); ">
                            <li class="mb-3">IT Auditor.</li>
                            <li class="mb-3">Information Systems Auditor                      .</li>
                            <li class="mb-3">
                                SOX Compliance Analyst
                                .
                            </li>
                            <li class="mb-3">
                                IT Compliance Analyst
                                .
                            </li>
                            <li class="mb-3">
                                IT Risk Analyst
                                .
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card Instructor align-items-center blackbg rounded-5">
                    <div class="card-body rounded-3 border-0 flex-column d-flex px-5">
                        <h1 class="card-title  primaryText py-4">
                            Learning Objectives:
                        </h1>
                        <ul class="ms-0 ps-1 h-100 d-flex flex-column primaryText fs-5 opacity-75" style=" list-style-image: url('/Assets/Website/Images/bullet.png'); ">
                            <li class="mb-2">
                                Comprehend the methodology behind IT Auditing.
                                .
                            </li>
                            <li class="mb-2">
                                Grasp the nuances of auditing information systems.
                                .
                            </li>
                            <li class="mb-2">
                                Dive into essential frameworks, standards, and regulations.
                                .
                            </li>
                            <li class="mb-2">
                                Master audit tools and techniques.
                            </li>
                            <li class="mb-2">
                                Perfect the art of performing control assessments.
                                .
                            </li>
                            <li class="mb-2">
                                Understand report writing and effective communication with stakeholders.
                                .
                            </li>
                            <li class="mb-2">
                                Engage in hands-on learning through projects and case studies.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tabs  -->
<section class="inner-page-tabs container-fluid mt-5">
    <div class="container-xl">
        <div class="row blackbg justify-content-evenly p-5 rounded-5 primaryText">
            <div class="col-md-5 mb-md-0 mb-3">
                <button class="tab-btns py-0 ps-lg-3 mb-2 rounded-3 activettabbtn " id="tabbtn1" onclick="openTab('tab1','tabbtn1')">
                    <span class="count  mx-3">1</span>
                    <span class="fs-5  ms-lg-0">  Precourse Work </span>
                </button>
                <button class="tab-btns py-0 ps-lg-3 mb-2 rounded-3" id="tabbtn2" onclick="openTab('tab2','tabbtn2')">
                    <span class="count  mx-3 ">2</span>
                    <span class="fs-5 ms-lg-3  ">
                        Week One to Eight
                    </span>
                </button>
                <button class="tab-btns py-0 ps-lg-3 mb-2 rounded-3" id="tabbtn3" onclick="openTab('tab3','tabbtn3')">
                    <span class="count  mx-3">3</span>
                    <span class="fs-5  ms-lg-3">  Week Nine to Sixteen </span>
                </button>
                <button class="tab-btns py-0 ps-lg-3 mb-2 rounded-3" id="tabbtn4" onclick="openTab('tab4','tabbtn4')">
                    <span class="count mx-3">4</span>
                    <span class="fs-5 text-start  ms-lg-3">Week Seventeen to TwentyFour </span>
                </button>
            </div>

            <div class="col-md-7">
                <div class="tab-crnt-content tab-content active " id="tab1">
                    <p class="fs-5 fw-bold">Precourse Work</p>
                    <p class="my-2">40 hours prior to your course’s start date</p>
                    <p class="opacity-75 ">
                        Before the program, familiarize yourself with Cybersecurity networking and hardware basics, Linux terminal, and study best practices designed to help you be successful in your Cybersecurity bootcamp program.
                    </p>
                    <div class="row align-items-center pt-3">
                        <p class="fs-5 fw-bold">Precourse Work</p>
                        <div class="d-flex align-items-center mb-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Preparing yourself for bootcamp
                            </div>
                        </div>
                        <div class="d-flex align-items-center my-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Setting up your digital learning environment
                            </div>
                        </div>
                        <div class="d-flex align-items-center my-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Familiarize yourself with the Student Experience & Career Services teams
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-crnt-content tab-content " id="tab2">
                    <p class="fs-5 fw-bold">Week One to Eight</p>
                    <p class="my-2">40 hours prior to your course’s start date</p>
                    <p class="opacity-75 ">
                        Before the program, familiarize yourself with Cybersecurity networking and hardware basics, Linux terminal, and study best practices designed to help you be successful in your Cybersecurity bootcamp program.
                    </p>
                    <div class="row align-items-center pt-3">
                        <p class="fs-5 fw-bold">Precourse Work</p>
                        <div class="d-flex align-items-center mb-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Preparing yourself for bootcamp
                            </div>
                        </div>
                        <div class="d-flex align-items-center my-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Setting up your digital learning environment
                            </div>
                        </div>
                        <div class="d-flex align-items-center my-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Familiarize yourself with the Student Experience & Career Services teams
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-crnt-content tab-content " id="tab3">
                    <p class="fs-5 fw-bold">Week Nine to Sixteen</p>
                    <p class="my-2">40 hours prior to your course’s start date</p>
                    <p class="opacity-75 ">
                        Before the program, familiarize yourself with Cybersecurity networking and hardware basics, Linux terminal, and study best practices designed to help you be successful in your Cybersecurity bootcamp program.
                    </p>
                    <div class="row align-items-center pt-3">
                        <p class="fs-5 fw-bold">Precourse Work</p>
                        <div class="d-flex align-items-center mb-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Preparing yourself for bootcamp
                            </div>
                        </div>
                        <div class="d-flex align-items-center my-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Setting up your digital learning environment
                            </div>
                        </div>
                        <div class="d-flex align-items-center my-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Familiarize yourself with the Student Experience & Career Services teams
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-crnt-content tab-content " id="tab4">
                    <p class="fs-5 fw-bold">Week Seventeen to TwentyFour</p>
                    <p class="my-2">40 hours prior to your course’s start date</p>
                    <p class="opacity-75 ">
                        Before the program, familiarize yourself with Cybersecurity networking and hardware basics, Linux terminal, and study best practices designed to help you be successful in your Cybersecurity bootcamp program.
                    </p>
                    <div class="row align-items-center pt-3">
                        <p class="fs-5 fw-bold">Precourse Work</p>
                        <div class="d-flex align-items-center mb-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Preparing yourself for bootcamp
                            </div>
                        </div>
                        <div class="d-flex align-items-center my-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Setting up your digital learning environment
                            </div>
                        </div>
                        <div class="d-flex align-items-center my-3">
                            <div class="d-flex  text-center primary me-3  justify-content-center align-items-center rounded-circle" style="height: 30px; width: 30px;">
                                <i class="bi bi-check2 m-0 text-light fs-5"></i>
                            </div>
                            <div class="w-100 opacity-75">
                                Familiarize yourself with the Student Experience & Career Services teams
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="day" class="mt-5">
    <div class="container-xl rounded-5 blackbg py-3 primaryText">
        <div class="row justify-content-center py-md-3">
            <h1 class="text-center ">What a Schedule in CyfendryAcademy <br> Program May Look Like</h1>
        </div>
        <div class="content_block row justify-content-center p-md-0 p-5">
            <ul class="times_of_day_list col-xl-4 col-md-5 col-sm-7 col-12 d-flex flex-column align-items-center d-md-block ms-0">
                <li class="py-3">
                    <span class="morning lazy-background visible"></span>
                    <p><span>Morning</span>Head to Work</p>
                </li>
                <li class="py-3">
                    <span class="mid_morning lazy-background visible"></span>
                    <p><span>Mid-Morning</span>Self-Study over Lunch</p>
                </li>
                <li class="py-3">
                    <span class="evening lazy-background visible"></span>
                    <p><span>Evening</span>Lectures, Office Hours, &amp; Self Study</p>
                </li>
            </ul>
            <ul class="needs_list col-md-5 my-3">
                <li>
                    <h3>24/7 Cohort Access</h3>
                    <p class="opacity-75">Your access to our LEARN Platform &amp; Discord is available 24/7. Access your materials at whatever time you need them.</p>
                </li>
                <li>
                    <h3>Self Study</h3>
                    <p class="opacity-75">Most students dedicate 30-35 hours a week to self-study, though you may need more or less depending on your learning style and experience.</p>
                </li>
                <li>
                    <h3>Lectures</h3>
                    <p class="opacity-75">Live lectures are held twice per week for an hour from 6-7pm MST. Lecture days are Monday/Wednesday or Tuesday/Thursday depending on your cohort’s start date.</p>
                </li>
                <li>
                    <h3>Optional Office Hours</h3>
                    <p class="opacity-75">Need more assistance understanding a concept? Optional office hours are held an hour prior to lecture times between 5-6pm MST.</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="support" class="mt-5">
    <div class="container-xl blackbg primaryText py-3 rounded-5">
        <div class="row justify-content-evenly align-items-center">
            <div id="support_block" class="col-xl-4 text-center px-5 py-xl-0 py-3 justify-content-center text-xl-start">
                <h1>Support When You Need It</h1>
                <p class="opacity-75">Student support begins the day you inquire about pursuing your studies with Coding Dojo. You’ll find support throughout your Admissions journey, along the way through your program, and beyond graduation with Career Services that never expire.</p>
                <a type="button" href="#" target="_blank" id="support_apply_btn" class="rounded-5">Apply Today</a>
            </div>
            <ul class="support_needs_list desktop justify-content-center col-xl-8 col-xxl-7 py-5">
                <li>
                    <span class="lazy-background live visible"></span>
                    <h3>Live Instruction</h3>
                    <p class="opacity-75">Learn live over Zoom with your cohort every week interacting directly with your instructors and classmates.</p>
                </li>
                <li>
                    <span class="lazy-background office visible"></span>
                    <h3>Office Hours</h3>
                    <p class="opacity-75">Join office hours every week prior to your live lecture to connect directly with your instructor about course topics, assignments, and feedback.</p>
                </li>
                <li>
                    <span class="lazy-background cohort visible"></span>
                    <h3>24/7 Cohort Access</h3>
                    <p class="opacity-75">Your access to our LEARN Platform is available 24/7. Access your materials at whatever time you need them.</p>
                </li>
                <li>
                    <span class="lazy-background student visible"></span>
                    <h3>Student Support Team</h3>
                    <p class="opacity-75">Find yourself needing extra support? You’ll have a dedicated Student Experience Manager to help guide you through pain points you may encounter.</p>
                </li>
                <li>
                    <span class="lazygiot-background ta"></span>
                    <h3>TA Support</h3>
                    <p class="opacity-75">Students have access to TA Support 7 days a week when classes are in session.</p>
                </li>
                <li>
                    <span class="lazy-background sandbox visible"></span>
                    <h3>Sandbox Environment</h3>
                    <p class="opacity-75">Detonate malicious programs, defend against attacks, and practice your CTFs inside the sandbox. 50-75% of your learning will be spent in these hands-on exercises.</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="ourbootcame mt-3">
    <div class="container-xl d-flex flex-column justify-content-center rounded-5 blackbg rounded-0 ">
        <div class="title text-center ">
            <h4 class="primaryText">Online Learning. Done Right.</h4>
            <p class="primaryText pt-1  opacity-50">
                We use cutting-edge educational methodologies to get you work ready <br /> in the shortest amount of time.
            </p>
        </div>
        <div class="row ps-5">
            <div class="swiper-container slide-content position-relative rounded-0">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide ">
                        <a href="/Home/ITAudit" class="rounded-4  overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/Audit.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">IT Audit</div>
                    </div>
                    <div class="swiper-slide ">
                        <a href="/Home/ITGRC" class="rounded-4 overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/rrc.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">IT GRC</div>
                    </div>
                    <div class="swiper-slide">
                        <a href="/Home/ITPMT" class="rounded-4 overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/product.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">IT Product Management Training</div>
                    </div>
                    <div class="swiper-slide">
                        <a href="/Home/Cloud" class="rounded-4  overflow-hidden">
                            <img src="~/Assets/Website/Images/inner/cloud.png" class="img-fluid h-75" alt="..." />
                        </a>
                        <div class="primaryText mt-3 mb-5 fs-5 fw-bold">IT Cloud & DevOps </div>

                    </div>
                </div>
                <!-- Add Pagination -->
                <!-- <div class="swiper-pagination"></div> -->
                <!-- Add Navigation -->

                <div class="swiper-button-next rounded-circle  ">
                    <i class="bi bi-chevron-right fs-2 "></i>
                </div>

                <div class="swiper-button-prev"></div>
            </div>
            <!-- <div class="mt-5 pt-5"></div> -->
        </div>
</section>

<section class="mt-4 Continue">
    <div class="container ready rounded-5 d-flex flex-column align-items-center justify-content-end">
        <h1 class="primaryText">Ready To Learn and Evolve?</h1>
        <div class="d-flex justify-content-center mb-5 py-4">
            <a class="primaryText">learn more ..</a>
            <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg ms-4">
                Continue An Account!
            </a>
        </div>
    </div>
</section>