<!-- what we are section -->
<section class="whatWeAre my-5 ">
    <div class="container text-center">
        <p class="Cybersecurity ">
            Cyfendry’s <span class="Cyfendry">FAQ</span>
        </p>
        <strong>
            <h3 class="fw-bold">We are passionate about bridging the Tech - Talent Gap</h3>
        </strong>
    </div>
</section>

<section>
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h1 class="accordion-header ">
                    <button class="accordion-button collapsed fs-5 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        What is Cyfendry?
                    </button>
                </h1>
                <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>
                            <code>.accordion-body</code>,
                            though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="container text-center my-4">
                <strong>
                    <h3 class="fw-bold">We are passionate about bridging the Tech - Talent Gap</h3>
                </strong>
            </div>
            <div class="accordion-item mt-4">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-5 fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Who can apply to Cyfendry?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is
                        <code>.accordion-body</code>,
                        though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-4 Continue">
    <div class="container-xl ready rounded-5 d-flex flex-column align-items-center justify-content-end">
        <h4 class="primaryText">Ready To Learn and Evolve?</h4>
        <div class="d-flex justify-content-center align-items-center  mb-5 py-4">
            <a class="primaryText txtd-none">learn more.</a>
            <a href="/Account/Register" class="btn primary primaryText px-4 rounded-5 shadow-lg ms-4">
                Continue An Account!
            </a>
        </div>
    </div>
</section>